.app {
  .form {
    &__btn {
      font-size: 1.2rem;
      font-weight: 500;
      padding: 10px 15px;
      border: none;
      background-color: white;
      color: #252a34;
      outline: none;
      cursor: pointer;
      border-radius: 0 5px 5px 0;

      &:focus {
        outline: 2px solid gray;
      }
    }
  }
}
